name: Release

on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            toolchain: x86_64-unknown-linux-gnu
            artifact: tau-tower_linux.zip
          - os: macos-latest
            toolchain: aarch64-apple-darwin 
            artifact: tau-tower_macOS_arm.zip
          - os: macos-15-intel
            toolchain: x86_64-apple-darwin 
            artifact: tau-tower_macOS_intel.zip
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    env:
      CMD: cargo build --release 
      DEST: tau-tower

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: install rust toolchains
        run: |
          rustup target install ${{ matrix.toolchain }}

      - name: compile and zip
        run: |
          $CMD --target=${{matrix.toolchain}} --verbose
          mv target/${{matrix.toolchain}}/release/tau-tower $DEST
          zip ${{matrix.artifact}} $DEST
          rm $DEST

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.artifact}}
          path: ${{matrix.artifact}}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: .
          merge-multiple: true    
      - name: Configure token
        run: |
          if [ -n "${{ secrets.PERSONAL_TOKEN }}" ]; then
            echo "RELEASE_TOKEN=${{ secrets.PERSONAL_TOKEN }}" >> $GITHUB_ENV
          else
            echo "RELEASE_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          fi
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: tau-tower_*
          tag_name: ${{ github.ref_name }}
          body: "Automated release of ${{ github.ref_name }}."
        env:
          GITHUB_TOKEN: ${{ env.RELEASE_TOKEN }}
