name: Compiles on macOS (Intel / Silicon), Ubuntu and NixOS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
          - os: macos-15-intel
    steps:
    - uses: actions/checkout@v4
#    - name: Cache Rust dependencies
#      uses: actions/cache@v4
#      with:
#        path: |
#          ~/.cargo/registry
#          ~/.cargo/git
#          target
#        key: ${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
#        restore-keys: |
#          ${{ matrix.os }}-cargo-
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  build-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - name: Cache Nix store
        uses: actions/cache@v4
        with:
          path: /nix/store
          key: ${{ runner.os }}-nix-${{ hashFiles('flake.lock') }}
          restore-keys: |
            ${{ runner.os }}-nix-
      - name: Cache Nix DB
        uses: actions/cache@v4
        with:
          path: ~/.cache/nix
          key: ${{ runner.os }}-nixcache-${{ hashFiles('flake.lock') }}
          restore-keys: |
            ${{ runner.os }}-nixcache-
      - name: Build with Nix
        run: nix build
